/* Import Nunito font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
  /* Slate Colors */
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;

  /* Blue Colors */
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  /* Orange Colors */
  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;

  /* Amber Colors */
  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;

  /* Customizable Variables */
  --st-border-radius: 4px;
  --st-border-color: var(--slate-300);
  --st-border-width: 1px;
  --st-resize-handle-color: var(--slate-300);
  --st-separator-border-color: var(--slate-300);
  --st-odd-row-background-color: var(--slate-100);
  --st-dragging-background-color: var(--blue-100);
  --st-selected-cell-background-color: var(--blue-200);
  --st-selected-first-cell-background-color: var(--amber-100);
  --st-border-top-color: var(--blue-500);
  --st-border-bottom-color: var(--blue-500);
  --st-border-left-color: var(--blue-500);
  --st-border-right-color: var(--blue-500);
  --st-border-top-white-color: white;
  --st-footer-background-color: white;
  --st-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --st-cell-padding: 8px;
}

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Apply Nunito as the default font */
body {
  font-family: "Nunito";
}

/* Wrapper for the table */
.st-wrapper {
  position: relative;
  border: var(--st-border-width) solid var(--st-border-color);
  border-radius: var(--st-border-radius);
  max-height: 100dvh;
  overflow: hidden;
}

.st-table-wrapper {
  position: relative;
  display: flex;
  width: max-content;
  overflow: visible;
  height: 100%;
  width: 100%;
}

/* Main table styling */
.st-table {
  position: relative;
  display: grid;
  border-collapse: collapse;
  table-layout: auto;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Styles for table header cells */
.st-header-cell {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 4px;
  border-top: var(--st-border-width) solid transparent;
  border-bottom: var(--st-border-width) solid var(--st-border-color);
}
.st-header-cell.clickable {
  cursor: pointer;
}
.st-header-cell.draggable {
  cursor: grab;
}

/* Common styles for table header and cells */
.st-header-cell,
.st-cell {
  color: var(--slate-800);
  overflow: hidden;
}

.st-cell.clickable {
  cursor: pointer;
}

.st-header-cell,
.st-cell,
.st-cell-editing {
  width: 100%;
  height: 40px;
  font-family: "Nunito";
}

.st-cell-editing {
  position: relative;
}

.st-header-label {
  flex: 1;
}

.st-header-label,
.st-cell {
  user-select: none;
  padding: var(--st-cell-padding);
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.st-cell {
  position: relative;
  border: var(--st-border-width) solid transparent;
}
.st-sort-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.st-sort-icon {
  fill: var(--slate-500);
}

.st-header-resize-handle {
  top: 0;
  right: 0;
  width: 5px;
  height: 20px;
  cursor: col-resize;
  background-color: var(--st-resize-handle-color);
  border-radius: 0.25rem;
}

.st-row-separator {
  height: 1px;
  background-color: var(--st-separator-border-color);
  grid-column: 1 / -1;
}

.st-cell-odd-row {
  background-color: var(--st-odd-row-background-color);
}

/* Style for a cell when it is being dragged */
.st-dragging {
  background-color: var(--st-dragging-background-color);
}

/* Style for selected table cells */
.st-cell-selected {
  background-color: var(--st-selected-cell-background-color);
}

/* Style for the first selected table cell */
.st-cell-selected-first {
  background-color: var(--st-selected-first-cell-background-color);
}

/* Blue top border for cells */
.st-selected-top-border {
  border-top: var(--st-border-width) solid var(--st-border-top-color);
}

/* Blue bottom border for cells */
.st-selected-bottom-border {
  border-bottom: var(--st-border-width) solid var(--st-border-bottom-color);
}

/* Blue left border for cells */
.st-selected-left-border {
  border-left: var(--st-border-width) solid var(--st-border-left-color);
}

/* Blue right border for cells */
.st-selected-right-border {
  border-right: var(--st-border-width) solid var(--st-border-right-color);
}

/* White top border for cells */
.st-selected-top-border-white {
  border-top: var(--st-border-width) solid var(--st-border-top-white-color);
}

.st-footer {
  display: flex;
  align-items: center;
  background-color: var(--st-footer-background-color);

  padding: 8px;

  border-top: var(--st-border-width) solid var(--st-border-color);
}

.st-next-prev-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.st-next-prev-btn {
  fill: var(--slate-600);
}
.disabled > .st-next-prev-icon {
  cursor: not-allowed;
  fill: var(--slate-400);
}

.st-next-prev-btn:not(.disabled):hover {
  background-color: var(--slate-100);
}

.st-page-btn {
  margin-left: 4px;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  color: var(--slate-600);
  border: none;
  border-radius: var(--st-border-radius);
  transition: background-color 0.3s ease;
}

.st-page-btn:hover {
  background-color: var(--slate-100);
}

.st-page-btn.active {
  background-color: var(--blue-500);
  color: white;
}

.editable-cell-input {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--st-border-radius);
  border: var(--st-border-width) solid var(--st-border-color);
  box-shadow: var(--st-shadow);
  z-index: 1;
  outline: none;
  height: 100%;
  width: 100%;
  padding: var(--st-cell-padding);
  font-size: 1rem;
  font-family: "Nunito";
}
.editable-cell-input:focus {
  border: var(--st-border-width) solid var(--blue-500);
}
.st-column-editor {
  position: relative;
  user-select: none;

  background: var(--st-footer-background-color);
  border-left: var(--st-border-width) solid var(--st-border-color);
  cursor: pointer;
}

.st-column-editor-text {
  padding: 8px 4px;

  writing-mode: vertical-rl;
  color: var(--slate-500);
  background-color: white;
  z-index: 2;
}

.st-column-editor.open,
.st-column-editor.open .st-column-editor-text {
  background-color: var(--slate-100);
}

.st-column-editor-popout {
  position: absolute;
  top: 0;
  right: calc(100% + 1px);
  z-index: 1;

  height: 100%;
  background-color: var(--slate-100);

  transition: width 0.2s ease;
  overflow: hidden;
  width: 0;
}
.st-column-editor-popout-content {
  padding: 8px 4px;
  border-left: var(--st-border-width) solid var(--st-border-color);
  height: 100%;
}

.st-column-editor-popout.open {
  width: 200px;
}

.st-column-editor-popout.left {
  transform: translateX(-100%);
}

.st-column-editor-popout.open.left {
  transform: translateX(0);
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
