:root {
  --blue-50: #ebf8ff;
  --blue-100: #bee3f8;
  --blue-200: #90cdf4;
  --blue-300: #63b3ed;
  --blue-400: #4299e1;
  --blue-500: #3182ce;
  --blue-600: #2b6cb0;
  --blue-700: #2c5282;
  --blue-800: #2a4365;
  --blue-900: #1a365d;

  --selected-first-cell: white;
  --border-radius: 4px;
  --border-width: 1px;

  /* Gray colors */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  /* Slate colors */
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}

/* Wrapper for the table */
.st-table-wrapper {
  border: 1px solid var(--slate-300);
  border-radius: var(--border-radius);
  overflow: auto;
}

/* Main table styling */
.st-table {
  display: grid;
  border-collapse: collapse;
  table-layout: auto;
  white-space: nowrap;

  width: 100%;
}

/* Styles for table header cells */
.st-th {
  width: 100px;
  position: relative;
}

/* Common styles for table header and cells */
.st-th,
.st-table-cell {
  user-select: none;
  cursor: pointer;
  padding: 8px;
  text-align: left;

  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Style for a cell when it is being dragged */
.st-dragging {
  background-color: var(--blue-100);
}

/* Basic styling for table cells */
.st-table-cell {
  border: var(--border-width) solid transparent;
}

/* Style for selected table cells */
.st-table-cell-selected {
  background-color: var(--blue-200);
}

/* Style for the first selected table cell */
.st-table-cell-selected-first {
  background-color: var(--selected-first-cell);
}

/* Blue top border for cells */
.border-top-blue {
  border-top: var(--border-width) solid var(--blue-500);
}

/* Blue bottom border for cells */
.border-bottom-blue {
  border-bottom: var(--border-width) solid var(--blue-500);
}

/* Blue left border for cells */
.border-left-blue {
  border-left: var(--border-width) solid var(--blue-500);
}

/* Blue right border for cells */
.border-right-blue {
  border-right: var(--border-width) solid var(--blue-500);
}

/* White top border for cells */
.border-top-white {
  border-top: var(--border-width) solid white;
}

/* Resize handle for table headers */
.st-table-header-resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: col-resize;
  background-color: var(--slate-300);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
}
