:root {
  --blue-50: #ebf8ff;
  --blue-100: #bee3f8;
  --blue-200: #90cdf4;
  --blue-300: #63b3ed;
  --blue-400: #4299e1;
  --blue-500: #3182ce;
  --blue-600: #2b6cb0;
  --blue-700: #2c5282;
  --blue-800: #2a4365;
  --blue-900: #1a365d;
  --selected-first-cell: white;
  --light-grey: #d3d3d3;
  --border-radius: 4px;
  --border-width: 1px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Add a new class for the table wrapper */
.table-wrapper {
  border: 1px solid var(--light-grey);
  border-radius: var(--border-radius);
  overflow: hidden; /* Ensures the table stays within the rounded corners */
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed; /* Ensures even width for all th elements */
}

thead tr,
tr:not(:last-child) {
  border-bottom: 1px solid var(--light-grey);
}

tr {
  transition: transform 0.4s, top 0.4s, opacity 0.2s;
  transform: translateY(0);
}

.dragging {
  background-color: var(--blue-100);
}

th {
  width: 100px; /* Set a specific width for all th elements */
}

th,
.table-cell {
  user-select: none;
  cursor: pointer;
  padding: 8px;
  text-align: left;
}

.table-cell {
  border: var(--border-width) solid transparent;
}

.selected {
  background-color: var(--blue-200);
}

.selected-first-cell {
  background-color: var(--selected-first-cell);
}

.border-top-blue {
  border-top: var(--border-width) solid var(--blue-500);
}

.border-bottom-blue {
  border-bottom: var(--border-width) solid var(--blue-500);
}

.border-left-blue {
  border-left: var(--border-width) solid var(--blue-500);
}

.border-right-blue {
  border-right: var(--border-width) solid var(--blue-500);
}

.border-top-white {
  border-top: var(--border-width) solid white;
}
